<ion-header>
  <ion-navbar color="header">

    <ion-title>Agregar Denuncia</ion-title>

    <ion-buttons right>
      <button *ngIf="!steps" ion-button icon-only (click)="close()">
        <ion-icon color="whiteImmo" name="ios-close-circle"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding >

  
  <ion-list class="slideTest ion-list-white box-shadow" >

    <form class="iform"  [formGroup]="leadForm">


      <ion-item>

        <ion-label>Tipo de denuncia <sup> *</sup></ion-label>
        <ion-select formControlName="subject" [(ngModel)]="event.subject" name="subject">
          <ion-option value="1">Denuncia Vial</ion-option>
          <ion-option value="2">Denuncia Sanitaria</ion-option>
          <ion-option value="3">Denuncia de Robo</ion-option>
        </ion-select>

      </ion-item>

      <ion-item>
        <ion-label>Descripción <sup> *</sup></ion-label>
        <ion-textarea type="text"  formControlName="descripcion" [(ngModel)]="event.descripcion" name="descripcion"></ion-textarea>
      </ion-item>


  <ion-item text-wrap>

    1. Toma una foto o selecciona alguna de tu galería
    <br>
    <br> 2. Sube la foto




    <div class="image" (click)="getPicture()" [style.backgroundImage]="getProfileImageStyle()">

      <div class="profile-image-wrapper">


        <span *ngIf="!this.propertyImages.controls.profilePic.value">Seleccionar imagen</span>



        <div class="profile-image" *ngIf="this.propertyImages.controls.profilePic.value">
        </div>


      </div>


    </div>

    <input type="file" #fileInput id="fileInput" accept="image/*" style="visibility: hidden; height: 0px" name="files[]"    (change)="processWebImage($event)" />

    <div class="two-buttons">

      <button color="orange" ion-button (click)="getPicture()" [disabled]="!isReadyToSave" small>
        <ion-spinner *ngIf="view.spinner" name="bubbles" color="white" padding-right></ion-spinner>
        <ion-icon name="md-checkmark" color="white" *ngIf="view.icon"> </ion-icon>
        Cambiar
      </button>
                                                                                                           


    </div>

  </ion-item>
      <ion-item>
        <button color="green" ion-button (click)="save()" full [disabled]="valid() && isReadyToSave" >Guardar</button>
      </ion-item>

    </form>

  </ion-list>
</ion-content>